<app-navbar></app-navbar>

<div class="h-100 d-flex flex-column" style="position: relative;">
    <img src="../../../../assets/img/cielo_nocturno.png" style="position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 60%;" />

    

    <h1 class="text-700 text-center" style="margin-top: 100px;">!Tu objetivo ha sido agregado exitosamente!</h1>
    <h1 class="text-701 text-center">!Te hemos enviado un correo con la notificación!</h1>

    <div class="flex-1-1-auto m-auto mt-3" style="position: relative; z-index: 1;">
        <div class="list-group px-5">
            <a
             
                class="list-group-item list-group-item-action d-flex gap-3 py-3"
                aria-current="true"
            >
               
            <div class="d-flex justify-content-between w-100">
                <div>
                    <h6 class="mb-0 text-One"  style="margin-right: 200px;">{{goal}}</h6>
                    <h6 class="ml-0 text-Two">Categoria: Bienestar</h6>
                    <div>
                    <h6 class="ml-1 text-date" style="margin-top: 40px; margin-left: 50px;">En esta fecha:</h6> 
                    <span class="ml-1 fecha1" style="margin-left: 40px;">Diciembre/2022</span>
                    <h6 class="ml-1 text-date" style="margin-top: -50px;margin-left: 240px;">Lograrás:</h6> 
                    <span class="ml-1 logro1" style="margin-top: -10px;margin-left: 220px;">{{goalMoney}}</span>
                    <div>
                        <img src="../../../../assets/img/Icon awesome-star.svg" alt="Star" style="float: left; margin-left: 400px; margin-top: 3px;">
                        <h6 class="ml-1 text-date" style="margin-top: -50px;margin-left: 415px;">Ya cuentas con:</h6> 
                    <span class="ml-1 avance" style="margin-top: -10px;margin-left: 410px;">$0</span>

                    <div>
                        <img src="../../../../assets/img/Icon awesome-check-circle.svg" alt="Star" style="float: left; margin-left: 40px; margin-top: 1 px;">

                        <p class="ml-0 revisar-objetivo" type="button" style="margin-right: 40px; margin-top: 60px;">
                            <a href="#asociar-btn">¡Asocia Productos para monitorear su progreso!</a>
                            <img src="../../../../assets/img/Mask Group 19.png" alt="imagen de monitoreo" style="float: right; margin-right: -85px; margin-top: -20px;">
                        </p>
                        
                    </div>

                </div>
                    </div>
                </div>
                
                <div>  
                    <p class="ml-0 revisar-objetivo" style="margin-left: -100px;">Revisar Objetivo</p>
                </div>
            </div>
            
            </a>
            
        </div>
        <h1 class="text-702 text-center" style="margin-top: 20px;">!Vamos por esos <span style="color: #FE9200;">{{goalMoney}}</span>
            para
        <span style="color: #FE9200;">{{goal}}</span>!</h1>
        <h1 class="text-703 text-center" style="margin-top: 20px;">!A travéz de nuestros productos 
        y nuestros rendimientos podremos lograrlo!</h1>
        <h1 class="text-704 text-center" style="margin-top: 8px;">Asocia tus productos o adquiere uno nuevo.</h1>
        <img src="../../../../assets/img/Group 12953.svg" alt="imagen de monitoreo" style="float: right; margin-right: 110px; margin-top: -25px;">
        
        
  
    </div>
    <div class="d-flex justify-content-center">
        <app-cards></app-cards>
        
    </div>
    <div class="d-flex justify-content-center">
        <button id="asociar-btn" type="button" class="btn btn-primary my-button" 
        style="margin-bottom: 60px;">ASOCIAR A OBJETIVO</button>
    </div>
    


   <div class="d-flex justify-content-left text-date-final">
    <img src="../../../../assets/img/Group 123.svg" alt="imagen de monitoreo" style="float: right; margin-left: 100px; margin-top: 10px;">
    
   </div>
   <div class="text-date-final"><h1 class="text-date" style="margin-left: 100px;">
    <h1 class="text-date" style="margin-top: 20px;margin-bottom: 20px;">© 2019 Skandia </h1> 
    <h1 class="text-date">PBX: <span class="revisar-objetivo2">658 4000</span> / <span class="revisar-objetivo2">484 1300</span>  </h1> <h1 class="text-date">Línea nacional 01 8000 517 526</h1> Línea 
    Corporativa 658 4123 <h1 class="text-date">Av. 19 # 109A - 30</h1> 
    <h1 class="text-date">Bogotá D.C., Colombia</h1> <h1 class="text-Two">Oficinas a nivel nacional</h1> </h1>
    
        <div class="text-date-underline" style="margin-top: -125px; margin-left: 600px;">
          <h1 class="text-date-underline">Términos y Condiciones Canales de Servicio</h1>
          <h1 class="text-date-underline">Defensoría del Consumidor Financiero</h1>
          <h1 class="text-date-underline">Protección de Datos</h1>
          <h1 class="text-date-underline">Definiciones Generales – Auto declaración FATCA y CRS</h1>
          <h1 class="text-date-underline">Recomendaciones de Seguridad</h1>
          <h1 class="text-date-underline">Ley de Transparencia</h1>
          <h1 class="text-date-underline">Mapa del sitio</h1>
        </div>

        <img src="../../../../assets/img/facebookl.png" alt="imagen de monitoreo" style="float: right; margin-right: 100px; margin-top: -40px;">
        <img src="../../../../assets/img/youtube.png" alt="imagen de monitoreo" style="float: right; margin-right: 150px; margin-top: -40px;">
        <img src="../../../../assets/img/twitter.png" alt="imagen de monitoreo" style="float: right; margin-right: 200px; margin-top: -40px;">

      
      
    </div>
    </div>

  
      
    
      
    


